* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

html {
    height: 100%;
}

body {
    font-family: 'SF Pro Display';
    font-style: normal;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafb;
}

.main-block {
    flex: 1 0 auto;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    display: flex;
}

footer {
    flex: 0 0 auto;
    background-color: #fafafb;
    height: 50px;
}

header {
    color: white;
    background-color: #5900b2;
    font-size: 0.8rem;
    padding: 5px 0;
}

.header-content {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.header-nav {
    display: inherit;
    align-items: inherit;
    margin: 0 5%;
    width: 40%;
}

.header-nav a {
    text-align: center;
    padding: 5px 10%;
    background-color: #7700c1;
    color: white;
    border-radius: 10px;
}

.header-nav a:nth-child(2) {
    margin: 0 auto;
}

.profile {
    display: inherit;
    align-items: inherit;
    height: 2.5rem;
    padding: 3px;
    background: #7700c1;
    border-radius: 2.5rem;
    margin-left: auto;
    margin-right: 3rem;
}

.profile img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.profile span,
.profile-name  {
    margin: 0 5px;
}

.border-bg {
    background-color: white;
    border: 2px solid #dcd8e1;
    border-radius: 10px;
}

.material-icons {
    cursor: pointer;
}

/*buttons*/
.contained-button-primary {
    outline-style: none;
    border: transparent;
    background-color: #5900b2;
    color: white;
    transition: background-color 300ms, box-shadow 300ms;
}

.contained-button-primary:hover {
    background-color: #7800c1;
}

.contained-button-primary:focus{
    background-color: #47008e;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contained-button-secondary {
    outline-style: none;
    border: transparent;
    background-color: #dcd8e1;
    color: #090011;
    transition: background-color 300ms, box-shadow 300ms;
}

.contained-button-secondary:hover {
    box-shadow: 2px 2px 4px rgba(120, 0, 193, 0.5);
}

.contained-button-secondary:focus {
    box-shadow: 0 0 4px 2px rgba(120, 0, 193, 0.5);
}

.contained-button-primary:hover,
.contained-button-secondary:hover {
    cursor: pointer;
}
/*buttons*/

@media screen and (max-width: 769px) {

    .main-block > aside {
        display: none;
    }

    .header-content {
        margin-left: 0;
        padding-left: 0;
        flex-direction: column;
        position: relative;
    }

    .profile-name,
    .profile > .material-icons {
        display: none;
    }

    .profile {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .header-nav {
        width: 100%;
    }
}