* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

html {
    height: 100%;
}

body {
    font-family: 'SF Pro Display';
    font-style: normal;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafb;
}

.main-block {
    flex: 1 0 auto;
    display: flex;
    margin-top: 2rem;
    margin-right: 3rem;
}

main {
    display: flex;
}

footer {
    flex: 0 0 auto;
    background-color: #fafafb;
    height: 50px;
}

header {
    color: white;
    background-color: #5900b2;
    font-size: 0.8rem;
    padding: 5px 0;
}

.header-content {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.header-nav {
    display: inherit;
    align-items: inherit;
    margin: 0 5%;
    width: 40%;
}

.header-nav a {
    text-align: center;
    padding: 5px 10%;
    background-color: #7700c1;
    color: white;
    border-radius: 9999px; /*Есть ли более элегантный способ делать из прямоугольных элементов такие вот "колбаски" с полукруглыми боковыми гранями?*/
}

/* Размеры ссылок должны зависить от наполняющего текста или вторая должна быть больше остальных, как на картинке? */
.header-nav a:nth-child(2) {
    margin: 0 auto;
}

.profile {
    display: inherit;
    align-items: inherit;
    height: 2.5rem;
    padding: 3px;
    background: #7700c1;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: 3rem;
}

.profile img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.profile span,
.profile-name  {
    margin: 0 5px;
}

.border-bg {
    background-color: white;
    border: 2px solid #dcd8e1;
    border-radius: 10px;
}

.material-icons {
    cursor: pointer;
}

