* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: gray; /*ВРЕМЕННЫЙ ЦВЕТ*/
}

.main-block {
    flex: 1 0 auto;
    display: flex;
    margin-top: 30px;
}

main {
    display: flex;
}

footer {
    flex: 0 0 auto;
    background-color: gray;
    height: 50px;
}

header {
    color: white;
    background-color: #5900b2;
    padding-left: 1rem;
    font-size: 0.8rem;
    padding: 5px 0;
}

.header-content {
    display: flex;
    align-items: center;
}
.header-nav {
    display: inherit;
    align-items: inherit;
    margin: 0 5%;
    width: 40%;
}

.header-nav a {
    text-align: center;
    padding: 3px 10px;
    background-color: #7700c1;
    color: white;
    border-radius: 9999px; /*Есть ли более элегантный способ делать из прямоугольных элементов такие вот "колбаски" с полукруглыми боковыми гранями?*/
}

/* Размеры ссылок должны зависить от наполняющего текста или вторая должна быть больше остальных, как на картинке? */
.header-nav a:nth-child(2) {
    margin: 0 auto;
}

.profile {
    display: inherit;
    align-items: inherit;
    height: 2.5rem;
    padding: 3px;
    background: #7700c1;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: 10%;
}

.profile img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.profile div {
    transform: rotate(-45deg);
}

.profile div,
.profile p {
    margin: 0 5px;
}