.main-content {
    display: flex;
    flex-direction: column;
}

.skill-block,
.interests-block {
    flex: 1;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: #230047;
}

.skill-block {
    margin: 0 1rem;
}

.skill-block a {
    color: #230047;
}

.skill-block:nth-child(1) {
    margin-bottom: 1rem;
}

.skill-header,
.interests-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.title-icons {
    position: relative;
    display: flex;
    flex: 1;
    padding-left: 1%;
    padding-right: 1%;
    color: #ccace8;
    font-size: inherit;
}

.apps-icon-temp,
.arrow-icon-temp,
.sort-icon,
.info-icon {
    transition: color 500ms;
}

.apps-icon-temp:hover,
.arrow-icon-temp:hover,
.sort-icon:hover {
    color: #9948d1;
}

.title-icons .info-icon:hover {
    color: #7700c1;
}
.info-icon {
    cursor: default;
}

.title-icons .info-icon {
    margin-right: auto;
}

.format-icon-temp {
    color: #7800c1;
}

.apps-icon-temp,
.sort-icon {
    margin: 0 1%;
}

.tags {
    margin-bottom: 1rem;
}

.tags span {
    background-color: #ddedff;
    color: #009ede;
    padding: 3px 10px;
    border-radius: 10px;
}

.skill-panel {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.meta-skills .skill-panel {
    margin-right: 15%;
}

.skill-panel a {
    display: inline-block;
    flex: 1;
    border-bottom: 2px solid #dcd8e1;
    text-align: center;
    padding: 1%;
    transition: color 300ms, border 300ms;
}

.skill-panel > a:nth-child(1) {
    font-weight: 700;
    border-bottom: 2px solid #7700c1;
}

.skill-panel a:hover {
    border-bottom: 2px solid #7700c1;
    color: #090011;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.skill-content {
    display: flex;
    padding-right: 10%;
}

.skill-rating-block,
.skill-option-block {
    padding: 0.5rem 0;
    flex: 1;
}

.skill-rating-block {
    padding-left: 1rem;
    border-left: 2px solid #dcd8e1;
}

.skill-rating-wrapper {
    width: 40%;
    font-size: 0.8rem;
    margin-right: auto;
}

.skill-rating-wrapper .info-icon {
    font-size: inherit;
    margin-left: 2%;
}

.skill-rating {
    align-items: center;
    border-bottom: 3px solid #009ede;
    padding: 5px 0;
    margin-bottom: 1rem;
    position: relative;
}

.meta-skills .skill-rating {
    border-bottom: 3px solid #00dd4e;
}

.skill-rating :nth-child(1){
    margin-right: auto;
}

.skill-option div {
    margin-bottom: 0.5rem;
}

.icon-paragraph {
    display: flex;
    align-items: center;
}

.icon-paragraph :nth-child(1) {
    margin-right: 3%;
}

.skill-option ul {
    padding-left: 10%;
    font-size: 0.8rem;
}

.skill-option .material-icons {
    font-size: inherit;
    color: #7700c1;
}

.skill-option :nth-child(1) > .icon-paragraph:nth-child(1) {
    font-weight: 700;
}

.interests-description {
    padding-left: 10%;
    font-size: 0.8rem;
    border-left: 2px solid #dcd8e1;
}

.interests-description span {
    font-weight: bold;
}

.interests-list p {
    margin-bottom: 1rem;
}

.interests-list td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* всплывающие подсказки */
.modal-clues,
.sort-block {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 0.8rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.3rem;
    transition: opacity 500ms linear 500ms, visibility 500ms linear 500ms;
    z-index: 10;
    color: #afa4b8;
}

.skill-header .modal-clues {
    width: 40%;
    top: 150%;
    left: 0;
}

.interests-header .modal-clues {
    top: 130%;

}

.skill-rating .modal-clues {
    right: 0;
    top: 90%;
    width: 80%;
}

.info-icon:hover + .modal-clues {
    opacity: 1;
    visibility: visible;
   
}
/* всплывающие подсказки */

.sort-block {
    padding: 0 0.8rem;
    top: 130%;
    right: 10%;
    width: fit-content;
    white-space: nowrap;

}

.sort-block a {
    padding: 0.8rem 0;
    display: block;
    text-align: left;
}

.sort-block a:nth-child(1) {
    border-bottom: 2px solid #dcd8e1;
}

.sort-icon:hover + .sort-block,
.sort-block:hover {
    opacity: 1;
    visibility: visible;
}


@media screen and (min-width: 769px) and (max-width: 1200px) {

    .interests-wrapper {
        order: -1;
    }

    .interests-block {
        margin: 0 1rem;
        margin-bottom: 1rem;
    }

    .interests-list {
        display: flex;
    }

    .interests-list li {
        flex: 1;
        display: flex;
        justify-content: center;

    }

    main {
        flex-direction: column;
    }

    .modal-clues {
        width: auto !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .skill-panel {
        flex-direction: column;
        margin-right: 0 !important;
    }

    .skill-content {
        padding-right: 0;
    }

    .skill-block {
        padding-right: 1rem;
    }

    .modal-clues {
        width: auto !important;
    }
}

@media screen and (max-width: 769px) {

    .skill-panel {
        flex-direction: column;
        margin-right: 0 !important;
    }
 
    .interests-wrapper {
        order: -1;
    }

    .skill-block {
        padding-right: 1rem;
    }

    .skill-option {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }


    .interests-block {
        margin: 0 1rem;
        margin-bottom: 1rem;
    }

    .interests-description {
        display: none;
    }

    main {
        flex-direction: column;
    }
   
   .skill-content {
        padding-right: 0;
        flex-direction: column;
    }

    .skill-rating-block {
        flex-direction: column;
    }

    .skill-rating-wrapper {
        width: 100%;
    }

    .modal-clues {
        width: auto !important;
    }
}